body {
    background-color: salmon;;
}

.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: powderblue solid 5px;
    margin: 50px 0;
}

.product-card-1 {
    width: 350px;
    height: 600px;
    border: solid 5px teal;
    box-shadow: wheat 10px 5px 5px;
}

img {
    display: flex;
    width: 130px;
    justify-content:center ;
}

header {
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    text-align: center;
}

.product-image{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.product-description {
    text-align: justify;
    margin: 0px 5px
}

.product-availability {
    background-color: darkgray;
    color: yellow;
    text-align: center;
}

ul {
    font-weight: bold;
    list-style: none;
}

h3 {
    margin: 0 5px;
}