body {
    background-color: #B5838D;
}

.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* border: 5px solid #6D6875 ; */
    margin: 50px 0;
}

.product-card-1 {
    width: 350px;
    height: 600px;
    border: solid 5pX #6D6875;
    box-shadow: #fc7c80 10px 5px 5px;
}

img {
    display: flex;
    width: 110px;
    justify-content: center;
}

header {
    border: 1px solid #af5063;
    display: flex;
    justify-content: center;
    text-align: center;
}

.product-image{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.product-description {
    text-align: justify;
    margin: 0px 5px
}

.product-availability {
    background-color: #6D6875;
    color: #E5989B;
    text-align: center;
}

ul {
    font-weight: bold;
    list-style: none;
}

h3 {
    margin: 0 5px;
}